/* цвет заголовка #212121 */
/* цвет большего количества текста #757575 */
/* акцентный цвет (синий) #2196F3 */
/* цвет фона #FFFFFF */
/* 2й цвет фона #F5F4FA */
/* цвет футера и фон заголовка #2F303A */

:root {
    --title-text-color: #212121;
    --primary-text-color: #757575;
    --ascent-color: #2196F3;
    --background-color: #FFFFFF;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--title-text-color);
}

.list {
    list-style: none;
}

/* логотип */

.logo {
    /* общие настройки лого */
    text-decoration: none;
}

.logo-1part {
    font-family: 'Raleway', sans-serif;
    color: var(--ascent-color);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}

.logo-2part {
    font-family: 'Raleway', sans-serif;
    color: var(--title-text-color);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}


/* список меню */

.site-nav a {
    color: var(--title-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    text-decoration: none;
}

.site-nav a:hover,
.site-nav a:focus {
    color: var(--ascent-color);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    text-decoration: none;
}


/* контакты */

.email {
    color: var(--primary-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    text-decoration: none;
}

.email:hover {
    color: var(--ascent-color);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    text-decoration: none;
}

.tel {
    color: var(--primary-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    text-decoration: none;
}

.tel:hover {
    color: var(--ascent-color);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    text-decoration: none;
}


/* герой */

.hero {}

.hero-title {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero-button {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}


/* все секции */

.section {
    color: var(--primary-text-color);
}


.section-title {
    color: var(--title-text-color);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}

.feature-list .title {
    color: var(--title-text-color);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.feature-list p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}


/* имена сотрудников */
.title-name {
    color: var(--title-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
}

.title-name p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
}

.geo-address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}